<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update/Edit Data</title>
</head>
<body>
    <h2>{{title}}</h2>
    <form action="/auth/update_user" method="post">
        <h4>Input Your Profile Information</h4>
        <label for="first_name">First Name: 
            <input type="text" name="first_name" id="first_name" value={{user.first_name}} required>
        </label> <br />
        <label for="middle_name">Middle Name: 
            <input type="text" name="middle_name" id="middle_name" value={{user.middle_name}}>
        </label> <br />
        <label for="last_name">Last Name: 
            <input type="text" name="last_name" id="last_name" value={{user.last_name}} required>
        </label> <br />
        <label for="nickname">Nickname: 
            <input type="text" name="nickname" id="nickname" value={{user.nickame}}>
        </label> <br />
        <label for="email_address">Email: 
            <input type="text" name="email_address" id="email_address" value={{user.email_address}} readonly>
        </label> <br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>